@import url(http://fonts.googleapis.com/css?family=Oxygen:300);

body, p, h1, h2, h3 {
  font-family: 'Oxygen', sans-serif;
}


#map {
  width: 90%;
  height: 30em;
  margin: 0 auto;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  display: none;
}

#footer {
  background: #232323;
  color: #ffffff;
  padding: 2em;
  text-align: center;
  width: 100%;
  margin-top: 2em;
}
