

<div class="col colwhole header">
	<h2>Canadian Light Source</h2>
	<h3>Saskatoon</h3>
</div>
<div class="col2 col">
    <img src="img/cls_1.jpg" alt="aerial of CLS" />
    <p>Services</p>
    <ul>
	    <li>Unique-in-Canada analytical services:</li>
	    <ul>
		<li>Advanced X-ray imaging</li>
		<li>Non-destructive testing</li>
		<li>In-situ investigations</li>
		<li>Bulk and surface investigations</li>
	    </ul>
    </ul>

    <ul>
	<li>Synchrotron- based measurement techniques</li>
	    <ul>
	    <li>X-ray absorption spectroscopy</li>
	    <li>X-ray photoelectron and Auger spectroscopies</li>
	    <li>Scanning transmission X-ray microscopy</li>
	    <li>X-ray fluorescence</li>
	    <li>X-ray diffraction and X-ray infrared spectroscopy</li>
	    </ul>
    </ul>
</div>
<div class="col1 col">
    <p>Schedule</p>
    <img src="img/beamline.png" alt="beamline schedule" />
	<p>Link to table of sample techniques</p>
	<a href="http://www.lightsource.ca/industry/techniques.php">Sample techniques</a>
</div>   
